body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bab2b5;
}

.notice_button button {
    padding: 12px 24px;
    margin: 0 10px;
    /* Adjust the gap between buttons */
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: #968a8e;
    color: white;
    /* White text */
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    /* Transition background-color, color, and transform */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow for depth */
}

.notice_button button span {
    position: relative;
    z-index: 1;
}

.notice_button button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #968a8e, #635b5f);
    /* Add gradient background */
    z-index: -1;
    transition: opacity 0.3s ease;
    /* Transition opacity */
}

.notice_button button:hover::before {
    opacity: 0;
    /* Hide gradient on hover */
}

.notice_button button:hover {
    color: black;
    transform: translateY(-4px);
    /* Add more pronounced upward movement on hover */
}

.notice_button button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* Add more prominent overlay for contrast */
    z-index: -1;
    border-radius: 30px;
    transition: opacity 0.3s ease;
    /* Transition opacity */
}

.notice_button button:hover::after {
    opacity: 0.1;
    /* Make overlay more visible on hover */
}