* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}

html,
body {
    height: 100%;
    display: grid;
    place-items: center;
    background: #f2f2f2;
}

.container {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three cards in one row, minimum width of 300px */
    gap: 20px;
    /* Gap between cards */
}

.card {
    height: 300px;
    width: 300px;
    /* Auto height to fit content */
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card:hover {
    height: auto;
    /* Revert to auto height on hover */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    /* Add a deeper shadow on hover */
    transform: translate(-5px, -5px) scale(1.05);
    /* Translate and scale the card for a 3D effect */
}

.card .img {
    height: 200px;
    /* Fixed height for the image */
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: center;
    /* Center the image vertically */
}

.card .img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* Keep the aspect ratio and fit the logo within the container */
}

.card .top-text {
    padding: 10px;
    ;
}

.card .top-text .name {
    font-size: 20px;
    font-weight: 600;
    color: #4863a0;
}

.card .top-text p {
    font-size: 15px;
    font-weight: 600;
    color: #3b4865;
    line-height: 20px;
}

.card .bottom-text {
    padding: 0 20px 10px 20px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.card:hover .bottom-text {
    opacity: 1;
    visibility: visible;
}

.card .bottom-text .text {
    text-align: justify;
}

.card .bottom-text .btn {
    margin-top: 10px;
    /* Adjust top margin */
    display: flex;
    justify-content: space-between;
    /* Align buttons horizontally with space between */
}

.card .bottom-text .btn a {
    text-decoration: none;
    background: #4863a0;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    transition: 0.2s;
}

.card .bottom-text .btn a:hover {
    background: #6287c2;
    /* Change background color on hover */
}

@media screen and (max-width: 978px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        /* Single column for smaller screens */
    }
}