
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ activity.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/single_drive.css' %}" />
</head>
<body>
    <h1>Activity Details</h1>
    <div class="activity-details">
        <h2>{{ activity.company_name }}</h2>
        <img src="{{ activity.company_logo.url }}" alt="Company Logo" class="logo" />
        <p><strong>Industry Type:</strong> {{ activity.industry_type }}</p>
        <p><strong>Date:</strong> {{ activity.activity_date }}</p>
        <p><strong>Departments:</strong>
            {% for department in activity.department.all %}
                {{ department.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <!-- Display the content field -->
        <p><strong>Content:</strong> {{ activity.content }}</p>
        <a href="{% url 'activities' %}" class="back-link">Back to All Activities</a>
    </div>
   
</body>
</html>
