{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Drive Data</title>
</head>
<body>
    <h1>All Drive Data</h1>
    <div class="container">
        {% for drive in alldrives %}
        <div class="card">
            <li><a href="{% url 'drive' drive.drive_id %}">{{ drive.title }}</a></li>
            <img src="{{ drive.company_logo.url }}" alt="Company Logo" class="logo">
            <div class="job-role">Job Role: {{ drive.job_role }}</div>
            <div class="card-actions">
                <form action="{% url 'update-drive' drive.drive_id %}" method="GET">
                    <button type="submit">Edit</button>
                </form>
                <form action="{% url 'delete-drive' drive.drive_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}

    </div>
</body>
</html>
