{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Template</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/all-drives.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/sidebar.css' %}"
    />
  </head>
  <body>
    <div class="sidebar">{% include 'sidebar.html' %}</div>
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
