/* main.css */

/* Common styles */
body {
    font-family: Arial, sans-serif;
}

a {
    color: #232323
}

h1,
h2 {
    color: #333;
}

.create-drive-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    /* Blue color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.create-drive-button:hover {
    background-color: #040607;
    /* Darker blue color on hover */
}

/* Styles for single_drive.html */
.drive-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.drive-details h2 {
    color: #2e99c7;
    margin-bottom: 10px;
}

.drive-details p {
    margin-bottom: 5px;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #449fdb;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

/* Styles for all_drives.html */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #56c5d4;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

.job-role {
    font-size: 16px;
    color: #666;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card-actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-actions a {
    text-decoration: none;
    color: #007bff;
}

.card-actions a:hover {
    text-decoration: underline;
}

/* Styles for single_drive.css */
.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-check-label {
    color: white;
}

.btn-submit {
    background-color: #FFD700;
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #FFC107;
}

/* Custom scrollbar */
.card-body {
    max-height: 400px;
    overflow-y: auto;
}

.dropdown-btn {
    cursor: pointer;
    color: white;
    background-color: #64485C;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.dropdown-btn:hover {
    background-color: #563c50;
}

.card-body {
    display: none;
}