body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50%; /* Start from center */
    transform: translateX(-50%); /* Center the container */
    padding: 20px;
    width: 100%; /* Adjust width to compensate for margin and padding */
    max-width: 800px; /* Adjust maximum width */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport */
}

.drive-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent box shadow from overflowing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    width: auto; /* Allow drive-details to expand as needed */
}

.logo-container {
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    margin-bottom: 20px;
}

.logo {
    max-width: 100%; /* Ensure the logo fits the container */
    max-height: 200px; /* Limit the maximum height of the logo */
    width: auto; /* Allow the width to adjust based on the image size */
    height: auto; /* Allow the height to adjust based on the image size */
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-link,
.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-link:hover,
.download-link:hover {
    background-color: #555;
}

.detail-item p {
    margin: 10px 0; /* Adjust margin between detail items */
}
