body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.card {
    background-color: #64485C;
    color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increased padding */
    margin: 40px auto; /* Increased margin */
    width: 80%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 30px; /* Increased margin bottom */
}

.form-group label {
    display: block;
    margin-bottom: 10px; /* Increased margin bottom */
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 15px; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-check-label {
    color: white;
}

.btn-submit {
    background-color: #FFD700; /* Darker shade of yellow */
    border: none;
    color: black;
    padding: 15px 30px; /* Increased padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Increased font size */
    margin-top: 20px; /* Increased margin top */
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #FFC107; /* Lighter shade of yellow on hover */
}

/* Custom scrollbar */
.card-body {
    max-height: 400px; /* Set maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrollbar */
}
.dropdown-btn {
    cursor: pointer;
    color: white;
    background-color: #64485C;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }

  .dropdown-btn:hover {
    background-color: #563c50; /* Darker shade of purple on hover */
  }

  .card-body {
    display: none;
  }
