{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T&P Portal</title>
    <!-- Include your CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/trailcard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/single_drive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/CreateDrive.css' %}">


    <script src="{% static 'js/CreateDrive.js' %}"></script>



   


</head>
<body>
   <div class="main-container">
       {% include 'sidebar.html' %}
       <!-- Main content block -->
       <div class="content">
           {% block content %}
           {% endblock %}
       </div>
   </div>
</body>
</html>