{% extends 'main.html' %}

{% block content %}
    <div class="centered-container">
        <div class="drive-details">
            <h1> Title: {{ drive.title }}</h1>
            <div class="logo-container">
                <img src="{{ drive.company_logo.url }}" alt="Company Logo" class="logo">
            </div>            
            <p><strong>Company Name:</strong> {{ drive.company_name }}</p>
            <p><strong>Date:</strong> {{ drive.date }}</p>
            <p><strong>Departments:</strong>
                {% for department in drive.department.all %}
                    {{ department.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Industry Type:</strong> {{ drive.industry_type }}</p>
            <p><strong>Bond:</strong> {{ drive.Bond }}</p>
            <p><strong>Job Role:</strong> {{ drive.job_role }}</p>
            <p><strong>Job Location:</strong> {{ drive.job_location }}</p>
            <p><strong>About Company :</strong> {{ drive.content }}</p>
            <p><strong>Job Eligibility:</strong> {{ drive.job_eligibility }}</p>
            <p><strong>Selection Process:</strong> {{ drive.selection_process }}</p>
            <p><strong>Job CTC:</strong> {{ drive.job_CTC }}</p>
            <!-- Add more fields as needed -->
            <div class="button-container">
                <a href="{% url 'all-drives' %}" class="back-link">Back to All Drives</a>
                <a href="{% url 'update-drive' drive.drive_id %}" class="back-link">Edit</a>
                <a href="{% url 'delete-drive' drive.drive_id %}" class="back-link">Delete</a>
                
                <a href="#" class="download-link">Download</a>
            </div>        
        </div>
    </div>
{% endblock content %}